*output.txt
*.exe
.vscode/
BOJ18789_GA/analysis.txt
BOJ18789_GA/analysis4x7.txt
TSP_QAP_compare/results
GPP_QAP_compare/results
Vertex-cover_Clique_compare/results
Vertex-cover_Clique_compare/GRAPHLIB/*